html {
  scroll-behavior: smooth;
}
.font-link {
  font-family: "Hanalei Fill", cursive;
}
#posts-index img {
  width: 300px;
  width: 100%;
  height: 400px;
}

#root {
  font-family: Arial Black, Arial Bold, Gadget, sans-serif;
  background-image: url("./assets/y-so-serious-white.png");
}

.card-img {
  width: 100%;
  height: 15vw;
  object-fit: stretch;
}
